@charset "utf-8";
/* CSS Document */


.checks {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
} 


@media (max-width: 767px) {
  .text-xs-left {
    text-align: left !important;
  }
  .text-xs-right {
    text-align: right !important;
  }
  .text-xs-center {
    text-align: center !important;
  }
}
.fill {
	min-height: 100%;
	height: 100%;	
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

}

.broker-logo{
	max-width: 100%;
	height: auto;
	min-height: 75px;
	min-width: 100px;
}

.highlighted_container {
	background-color: #E3E3E3;
}

.remove_applicant {
	color: #FFFFFF;
}

.plan_result{
	margin-top: 5px;
	border-top: 1px;
	border-top-color: #D8D8D8;
	border-top-style: solid;
	border-bottom: 1px;
	border-bottom-color: #D8D8D8;
	border-bottom-style: solid;
	border-right: 1px;
	border-right-color: #D8D8D8;
	border-right-style: solid;
}

.bronze_metal {
	border-left: 5px;
	border-left-style: solid;
	border-left-color: #CD7F32 ;
}
.silver_metal {
	border-left: 5px;
	border-left-style: solid;
	border-left-color: #C0C0C0;
}
.gold_metal {
	border-left: 5px;
	border-left-style: solid;
	border-left-color: #D4AF37;
}
.platinum_metal {
	border-left: 5px;
	border-left-color: #E5E4E2;
	border-left-style: solid;
}

.logo_carrier_results{
	max-height: 25px
}

.btn-xs, .btn-group-xs > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.25;
  border-radius: 0.2rem;
}

.btn-sbc-doc {
  color: #212529;
  background-color: #DDDDDD;
  border-color: #CBCBCB;
}

.btn-sbc-doc:hover {
  color: #212529;
  background-color: #BBBBBB;
  border-color: #AAAAAA;
}

.btn-sbc-doc:focus, .btn-sbc-doc.focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-sbc-doc.disabled, .btn-sbc-doc:disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-sbc-doc:not(:disabled):not(.disabled):active, .btn-sbc-doc:not(:disabled):not(.disabled).active,
.show > .btn-sbc-doc.dropdown-toggle {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}

.btn-sbc-doc:not(:disabled):not(.disabled):active:focus, .btn-sbc-doc:not(:disabled):not(.disabled).active:focus,
.show > .btn-sbc-doc.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}
.list-compare-plans ul{
	list-style-type: none;
	overflow: hidden;
}
.list-compare-plans li{
	float: left;
	display:block;
	margin: 2px;
}
.card-plan-compare{
	padding: 2px;
	height: 90px;
	width: 120px;
}
.card-plan-name {
  	font-size: .75rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}
.card-carrier-logo {
	max-height: 25px;
	max-width: 85%;
	width: auto;
	padding: 5px;
	align-self: left;
}
.card-plan-data{
	padding: 5px;
}
.card-plan-premium {
  	font-size: 1rem;
	text-align: center;
	font-weight: bold;
	color: #dc3545;
}
.card-plan-compare-remove{
	position:relative;
}
.card-plan-compare-remove .remove-glyphicon{
	position: absolute;
	top:5px;
	right:4px;
	color: #999999;
  	font-size: .9rem;
}
.card-plan-compare-remove .remove-glyphicon:hover{
	color: #FF0000;
}
.search-info-compare-plans{
	background-color: #EFEFEF;
}
.search-info-compare-plans .left-border-accent{
	border-left: #007bff;
	border-left-style: solid;
	border-left-width: 5px;
}

.table-xs td {
	padding: 0.1rem;
	font-size: .9rem;
}

.table-xs th{
	padding: 0.15rem;
	font-size: 1rem;
}
.search-result-premium {
  	font-size: 1.5rem;
	text-align: center;
	font-weight: 500;
	color:#343a40;
}
.search-criteria ul{
	list-style-type: none;
	overflow: hidden;
}
.search-criteria li{
	float: left;
	display:block;
	margin: 2px;
}
.compare-plans th{
	vertical-align: middle;
}
.compare-plans td{
	vertical-align: middle;
	text-align: center;
}
.compare-card{
	vertical-align: middle;
	padding: 2px;
	height: auto;
}
.compare-card-plan-name {
  	font-size: .9rem;
	text-align: center;
}
.compare-card-logo {
	max-height: 25px;
	max-width: 85%;
	width: auto;
	padding: 5px;
	align-self: center;
}
.compare-card-data{
	padding: 5px;
}
.compare-card-premium {
  	font-size: 1rem;
	text-align: center;
	font-weight: bold;
}