main{
  margin-top: 110px;
}
/* NavBar Start */
.navbar{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0,0,0,.12);
  background: #fff !important;
}
.navbar-brand {
  padding-bottom: 0;
  padding-top: 0;
}
.navbar-light .navbar-nav .nav-link {
    font-weight: 400;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary-color);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: var(--primary-color);
}
.pmd-user-info{
  padding: 10px 0;
}
.btn-user img{
  border-radius: 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0,0,0,.12);
}
.btn-user{
  color: var(--secondry-color);
}
.menuSearch .card {
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0;
}
.menuSearch .no-gutters{
  border: none;
}
.menuSearch input{
  font-size: 15px;
}
.menuSearch .form-control-borderless {
    border: none;
}
.menuSearch .form-control-borderless:hover, .menuSearch .form-control-borderless:active, .menuSearch .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.langSelect .form-group{
  margin-bottom: 0;
  padding: 10px 0px;
}
.langSelect .form-group select{
  border:none;
}
/* NavBar End */
/* AddBanner Box Strat */
.addBannerbox{
  position: relative;
}
.addBannerbox img {
    left: 0;
}
.addBannerbox .overbox {
    background-color: rgba(0, 0, 0, 0.42);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 100;
    opacity: 1;
    width: 100%;
    height: 100%; 
    padding: 10px 25px;   
}
.hoverTitle{
  text-align: left;
  font-size: 26px;
  font-weight: 600;
}
.hoverTitle i{
  font-size: 11px;
}
.hoverTagline{
  text-align: left;
  font-size: 22px;
  margin-top: -10px;
  padding-bottom: 5px;
}
/* AddBanner Box End */
/* TopChartBox Start */
.topChart h2{
  padding-bottom: 20px;
}
.topChartbox{
  background: -moz-linear-gradient(top,  #0ae3dd 0%, #089c98 99%); 
  background: -webkit-linear-gradient(top,  #0ae3dd 0%,#089c98 99%); 
  background: linear-gradient(to bottom,  #0ae3dd 0%,#089c98 99%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ae3dd', endColorstr='#089c98',GradientType=0 ); /* IE6-9 */
  border-radius: 3px;
  padding: 15px 0px;
}
.topChartbox h4{
  color: #fff;
  font-size: 18px;
}
.topChartbox p{
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  margin: 0;
  padding: 3px 0;
}
.starRating{
  margin-top: -6px;
  font-size: 12px;
}
.staryellow{
  color: #FFDE39;
}
.starhash{
  color: #F4F4F4;
}
.sharPage p{
    margin: 0;
    line-height: 1;
}
.sharIcon a{
  color: #d3d3d3;
  padding: 5px 15px 5px 0;
  font-size: 12px;
}
.sharIcon a span{
  color: var(--white);
}
/* TopChartBox End */
/* Cat Start */
.genreSec{
  padding: 30px 0;
  position: relative;
}
.genreSec h2{
  padding-bottom: 20px;
}
.genreSec h3{
  padding-bottom: 20px;
}
.genreSec .nav-tabs .nav-item.show .nav-link, .genreSec .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #0ABAB5;
    border-color: transparent;
    font-size: 16px;
}
.genreSec .nav-tabs .nav-link {
  border-radius: 0;
  border:none;
  color: #707070;
  font-weight: 400;
}
.genreSec .nav-link {
  margin: 2px 5px;
  background: #ddd;
}
.genreSec .nav-tabs {
  border: none;
}
.genreSecbox{
  margin-bottom: 40px;
}
.genreSecboximg{
  position: relative;
}
.genreSecboximg img {
    /*left: 0;
    position: relative;*/
    left: 0;
    position: relative;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}
.genreSecboximg .overbox {
    background-color: rgba(0, 0, 0, 0.42);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 100;
    opacity: 1;
    width: 100%;
    height: 100%; 
    padding: 10px;  
}
.genreSecboximg .hoverTitle{
  font-size: 13px;
  font-weight: 600;
  background: #FFDE39;
  display: -webkit-inline-box;
  float: right;
  padding: 2px 5px;
  border-radius: 1px;
}
.genreSeccontent{
  background: #F4F4F4;
  margin: 10px auto;
  padding: 8px 10px;
}
.genreSeccontent h4{
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
.genreSeccontent p{
    margin-top: 0;
    padding-bottom: 2px;
    font-size: 11px;
    font-weight: 500;
}
.genreSecsharIcon a{
  color: var(--primary-color);
  padding: 5px 15px 5px 0;
  font-size: 12px;
}
.genreSecsharIcon a span{
  color: var(--text-p);
}
.socialIconLibrary{
  display: inline-flex;
  width: 100%;
  margin: 0;
  margin-top: 0px;
  padding: 0;
}
.socialIconLibrary li {
   display: inline-block;
    float:left;
    list-style-type: none;
    width: 28%;
}
.socialIconLibrary li:nth-child(4n+4) {
  margin-right: 0;
}
/* Cat End */
/* Discussions Start */
.discussionsSec{
  padding: 30px 0 40px 0;
}
.discussionsSecbox{
  background: #FCFCFC;
  border: 1px solid rgba(112, 112, 112, 0.15);
  border-radius: 5px;
  padding: 22px 10px;
  margin: 25px 0;
}
.discussionsSecContent{
  padding: 15px 0;
}
.discussionsSecContent h4{
  color: var(--primary-color);
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 24px;
}
.discussionsSecContent p{
  font-weight: 400;
  padding-bottom: 15px;
}
.discussionsSecContent a{
  color: #FFDE39;
  font-weight: 400;
  margin: 0;
}
.discussionsSecContent .sharPage p{
  padding-bottom: 5px;
  font-size: 14px;
  color: var(--color-two;);
}
.discussionsSecContent .socialIconLibrary{
  margin-top: 15px;
  max-width: 350px;
}
.discussionsSecContent .socialIconLibrary a{  
  font-size: 16px;
  color: var(--primary-color);
  width: 12%;
}
.discussionsSecContent .socialIconLibrary a span{  
  color: var(--color-one);
}
/* Discussions End */
@media (max-width: 768px){
  .addBanner{
    display: none;
  }
}
@media (min-width: 768px){
  .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 30px;
      padding-left: 30px;
  }
}