body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Menu Start */
.topMenu{
  text-align: right;
  top: 0;
  position: absolute;
  right: 0;
  padding: 50px;
}
.topMenuul li{
  list-style: none;
  display: inline-block;
  font-weight: 400;  
}
.topMenuul li a{
  color: #736B6B;
}
.topMenuul li select {
  border: none;
  color: #736B6B;
  background: transparent;
}
/* Menu End */
/* Form Start */
.loginSectionform label {
  display: block;
  position: relative;
  margin: 40px 0px;
}
.label-txt {
  position: absolute;
  top: -.6em;
  font-size: 15px;
  letter-spacing: 1px;
  color: #D3D3D3;
  font-weight: 400;
  transition: ease .3s;
}
.loginSectionform .input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
}

.loginSectionform .line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.loginSectionform .line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--primary-color);
  transition: ease .6s;
}

.loginSectionform .input:focus + .line-box .line {
  width: 100%;
}

.loginSectionform .label-active {
  top: -2em;
}
.forgetSec{
  margin-top: -25px;
  display: flow-root;
}
.forgetSec a{
  font-size: 13px;
  color: #233BD5;
  font-weight: 600;
}
.logFormh6{
  color: #000;
  padding: 10px 0;
  font-size: 14px;
}
.dontHave{
    color: #000;
    font-size: 13px;
    font-weight: 600;
    padding: 20px 0;
}
.dontHave a{
  color: #EC2438;
}
.weChart{
    background: #4CAF50;
    padding: 4px 7px;
    color: var(--light);
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 0px 3px 4px rgba(0,0,0,.1);
    transition: all .3s ease-out;
    margin:auto 6px;
}
.weChart:hover{
  background: #4CAF50;
  opacity: .8;
  color: var(--white);
  box-shadow: 0px 3px 4px rgba(0,0,0,.1);
}
.qqChart{
    background: #344851;
    padding: 5px 10px;
    color: var(--light);
    font-size: 19px;
    border-radius: 50px;
    box-shadow: 0px 3px 4px rgba(0,0,0,.1);
    transition: all .3s ease-out;
    margin:auto 6px;
}
.qqChart:hover{
  background: #344851;
  opacity: .8;
  color: var(--white);
  box-shadow: 0px 3px 4px rgba(0,0,0,.1);
}
.weiBo{
    background: #EA533B;
    padding: 4px 8px;
    color: var(--light);
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 0px 3px 4px rgba(0,0,0,.1);
    transition: all .3s ease-out;
    margin:auto 6px;
}
.weiBo:hover{
  background: #EA533B;
  opacity: .8;
  color: var(--white);
  box-shadow: 0px 3px 4px rgba(0,0,0,.1);
}
.readOnly{
  background: #F4F4F4 !important;
  padding: 5px;
}
.custom-control label{
  position: initial !important;
  margin: 0 !important;
}
.custom-control {
  margin-top: -25px;
  margin-bottom: 10px;
}
/* Form End */
/* CopyRight Start */
.copyRight{
  font-size: 12px;
  font-weight: 400;
}
/* CopyRight End */
@media only screen and (min-width: 300px) and (max-width: 998px) {
  .mobHide{
    display: none;
  }
}