@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--text-p);
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
p{
  margin: 0;
}
:root {
    --primary-color:#0ABAB5;
    --secondry-color: #262626;
    --text-p:#6E6E6E;
    --color-one:#D3D3D3;
    --color-two:#FCFCFC; 
    --yellow:#FFDE39;
}
a:hover, a:focus{
  text-decoration: none;
}
.yellowTxt{
  color: var(--yellow);
}
.yellowTxt:hover{
  color: var(--yellow);
  opacity: .9;
}
.titleH2{
  color: #000;
  font-size: 28px;
}
.titleH3 {
    color: #000;
    font-size: 24px;
}
.titleH4 {
    color: #000;
    font-size: 18px;
}
.titleH5 {
    color: #000;
    font-size: 16px;
}
.form-control:focus {
  box-shadow: none;
}
.submitBtn{
  background: var(--primary-color);
  color: var(--white);
  border: none;
  letter-spacing: 1px;
  padding: 8px 50px;
  font-size: 14px;
  display: -webkit-inline-box;
  border-radius: 2px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
.submitBtn:focus{
  background: var(--primary-color);
  color: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}
.submitBtn:hover{
  background: var(--primary-color);
  color: var(--white);
  opacity: .8;
  box-shadow: 0 14px 26px -12px rgb(93, 209, 93), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2) !important;
}
.disInline{
  display: inline-block;
}
/* Client Slider Start */
/* Slider */

.slick-slide {
    margin: 0px 20px;
}
/*
.slick-slide img {
    width: 100%;
}*/

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Client Slider End */
/* Follow Us Start */
.followSec{
  padding: 70px 0 60px 0;
}
.followSec h2{
  padding-right: 50px;
  padding-bottom: 20px;
}
.weChart{
    background: #4CAF50;
    padding: 4px 7px;
    color: var(--light);
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 0px 3px 4px rgba(0,0,0,.1);
    transition: all .3s ease-out;
    margin:auto 6px;
}
.weChart:hover{
  background: #4CAF50;
  opacity: .8;
  color: var(--white);
  box-shadow: 0px 3px 4px rgba(0,0,0,.1);
}
.qqChart{
    background: #344851;
    padding: 5px 10px;
    color: var(--light);
    font-size: 19px;
    border-radius: 50px;
    box-shadow: 0px 3px 4px rgba(0,0,0,.1);
    transition: all .3s ease-out;
    margin:auto 6px;
}
.qqChart:hover{
  background: #344851;
  opacity: .8;
  color: var(--white);
  box-shadow: 0px 3px 4px rgba(0,0,0,.1);
}
.weiBo{
    background: #EA533B;
    padding: 4px 8px;
    color: var(--light);
    font-size: 20px;
    border-radius: 50px;
    box-shadow: 0px 3px 4px rgba(0,0,0,.1);
    transition: all .3s ease-out;
    margin:auto 6px;
}
.weiBo:hover{
  background: #EA533B;
  opacity: .8;
  color: var(--white);
  box-shadow: 0px 3px 4px rgba(0,0,0,.1);
}
.followSec .weChart{
      padding: 9px 8px;
} 
.followSec .qqChart{
      padding: 10px;
} 
.followSec .weiBo{
      padding: 9px 8px;
} 
.followSec a{
    background: #F4F5F9;
    padding: 21px 7px;
    border-radius: 30px;
    margin: 5px 10px;
}
/* Follow Us End */
/* FormSec Start */
.formSection{
  background: var(--color-two);
  padding: 60px 0 50px 0;
}
.formSection h2{
  margin: 0;
}
.formSectionmap{
  background: url(../img/map-bg.png);
  background-size: contain;
  height: 450px;
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
}
.formSec .form-control {
    border: 1px solid rgba(226, 228, 231, 0.45);
}
.formSec input {
    border-radius: 1px;
    height: 50px;
    margin: 20px auto;
}
.formSec button{
  margin-top: 25px;
}
.formSectionadd{
    background: var(--primary-color);
    padding: 25px 35px;
    border: 1px solid #0B6765;
    border-radius: 3px;
    color: var(--white);
    font-weight: 500;
}
.formSectionadd h4{
  margin: 0;
  padding-bottom: 10px;
  font-size: 24px;
}
.formSectionadd p{
  margin: 0;
  padding-bottom: 5px;
}
/* FormSec */
/* Footer Start */
footer{
  background: #0F0F0F;
  padding: 50px 0;
}
footer h4{
  color: var(--color-one);
  font-size: 21px;
  padding-bottom: 25px;
  padding-top: 10px;
}
footer p, footer p a{
    color: var(--color-one);
    font-size: 15px;
    line-height: 2.1;
}
footer p a:hover{
    color: var(--primary-color);
}
.newsletter .newsletter-form {
    position: relative;
    max-width: 355px;
    margin-top: 23px;
    z-index: 999;
}
.newsletter .newsletter-form input {
    height: 45px;
    width: 100%;
    padding: 15px 135px 15px 20px;
    font-weight: 400;
    border: 0 none;
    border-radius: 4px;
    outline: none;
    background-color: #fff;
    color: var(--primary-color);
    font-size: 16px;
    line-height: 1;
}
.newsletter .newsletter-form button {
    font-style: normal;
    width: 116px;
    height: 30px;
    transition: background-color .3s cubic-bezier(.165,.84,.44,1);
    border-radius: 2px;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 15px;
    position: absolute;
    right: 9px;
    bottom: 8px;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
footer h6{
    color: var(--color-one);
    font-size: 14px;
    padding-top: 10px;
}
/* Footer End */
/* CopyRight Start */
.copyRightsec{
  background: #0F0F0F;
  font-size: 13px;
  font-weight: 500;
  color: var(--color-one);
  padding: 10px 0;
}
/* CopyRight End */
@media only screen and (min-width: 300px) and (max-width: 998px) {
  .followSec .disInline{
    display: block;
  }
}
